@using TeamMentor.Website
@using System.Web.Mvc

@inherits WebViewPage

@{
    ViewBag.Title = "This is the page Title";
    Layout = "_Layout.cshtml";
    var markdownToRender = (string) ViewBag.MarkDownText;
}

<h5>@ViewBag.HelloMessage</h5>


@Html.Raw(markdownToRender.renderMarkdown())


