@inherits System.Web.Mvc.WebViewPage

@{
    ViewBag.Title = "This is the page Title";
    Layout = "_Layout.cshtml";
}

<h5>@ViewBag.HelloMessage</h5>

<pre>
    this is some text relevant to this view
</pre>

